#wik-main{ position: relative; width: 100%; left: 0; top: 0; cursor:default;}
#wik-page-background-simple-gradient, #wik-page-background-gradient, #wik-page-background-glare{ min-width: 800px;}
.cleared{ float: none; clear: both; margin: 0; padding: 0; border: none; font-size: 1px;}
.firefox2 .wik-button-wrapper{ display: block; float: left;}
.overview-table .wik-layout-cell{  width:33%;}
.overview-table-inner {  margin:10px;}
.wik-article img, img.wik-article{ margin: 7px;}
.wik-article table, table.wik-article .wik-article tr, .wik-article th, .wik-article td{ background-color: Transparent;}
.wik-article table, table.wik-article{ border-collapse: collapse; margin: 1px; width: auto;}
.wik-article th, .wik-article td{ padding: 2px; border: solid 1px #758899; vertical-align: top; text-align: left;}
.wik-article th{ text-align: center; vertical-align: middle; padding: 7px;}
.wik-block select {  width:96%;}
.wik-block-body{ position: relative; z-index: 1; padding: 0;}
.wik-blockcontent-body a,.wik-blockcontent-body a, .wik-blockcontent-body a:hover, .wik-blockcontent-body a.hover,.wik-blockcontent-body a:link,.wik-blockcontent-body a:visited, .wik-blockcontent-body a.visited,.wik-blockcontent-body li a:hover, .wik-blockcontent-body li a.hover{ color: #2F779D; text-decoration: none;}
.wik-blockcontent-body li a:link{ color: #235976; text-decoration: underline;}
.wik-blockcontent-body li a:visited, .wik-blockcontent-body li a.visited{ color: #6C8193;}
.wik-blockcontent-body li a{ color: #1C2126;}
.wik-blockcontent-body li a{ color: #235976; text-decoration: underline;}
.wik-blockcontent-body ul li{ line-height: 1.25em; padding: 0 0 0 17px; background-image: url('../images/blockcontentbullets.png'); background-repeat: no-repeat;}
.wik-blockcontent-body ul{ list-style-type: none; color: #0F2733; margin: 0; padding: 0;}
.wik-blockcontent-body, .wik-blockcontent-body{ position: relative; z-index: 1; padding: 7px;}
.wik-blockcontent{ position: relative; z-index: 0; margin: 0 auto; min-width: 1px; min-height: 1px;}
.wik-blockheader .l, .wik-blockheader .r{ display: block; position: absolute; z-index: -1; height: 38px; background-image: url('../images/blockheader.png');}
.wik-blockheader .l{ left: 0; right: 17px;}
.wik-blockheader .r{ width: 790px; right: 0; clip: rect(auto, auto, auto, 773px);}
.wik-blockheader .t, .wik-vmenublockheader .t, .wik-logo-text a,
.wik-blockheader .t{ height: 38px; color: #485561; margin-right: 10px; margin-left: 10px; font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif; font-style: normal; font-weight: bold; font-size: 14px; margin:0; padding: 0 10px 0 23px; white-space: nowrap; line-height: 38px;}
.wik-blockheader{ position: relative; z-index: 0; height: 38px; margin-bottom: 0;}
.wik-block{ margin: 5px;}
.wik-block{ position: relative; z-index: 0; margin: 0 auto; min-width: 1px; min-height: 1px;}
.wik-button img, .wik-button-wrapper img{ margin: 0; vertical-align: middle;}
.wik-button-wrapper .l, .wik-button-wrapper .r{ display: block; position: absolute; z-index: -1; height: 93px; margin: 0; padding: 0; background-image: url('../images/button.png');}
.wik-button-wrapper .l{ left: 0; right: 8px;}
.wik-button-wrapper .r{ width: 409px; right: 0; clip: rect(auto, auto, auto, 401px);}
.wik-button-wrapper .wik-button{ font-weight: bold; font-size: 11px; display: inline-block; vertical-align: middle; white-space: nowrap; text-align: left; text-decoration: none !important; color: #E8EBEE !important; width: auto; outline: none; border: none; background: none; line-height: 31px; height: 31px; margin: 0; padding: 0 19px !important; overflow: visible; cursor: default; z-index: 0;}
.wik-button-wrapper input{ float: none !important;}
.wik-button-wrapper.active .l, .wik-button-wrapper.active .r{ top: -62px;}
.wik-button-wrapper.active .wik-button{ color: #EEF3F6 !important;}
.wik-button-wrapper.hover .l, .wik-button-wrapper.hover .r{ top: -31px;}
.wik-button-wrapper.hover .wik-button, .wik-button:hover{ color: #F3F9FB !important; text-decoration: none !important;}
.wik-button-wrapper{ vertical-align: middle; display: inline-block; position: relative; height: 31px; overflow: hidden; white-space: nowrap; width: auto; margin: 0; padding: 0; z-index: 0;}
.wik-content-layout .wik-content .wik-block{ background-color: #D7E1EA;}
.wik-content-layout .wik-content-layout{ width: auto; margin:0;}
.wik-content-layout .wik-content-wide{ width: 100%;}
.wik-content-layout .wik-content{ width: 75%;}
.wik-content-layout .wik-sidebar1{ background-color: #D7E1EA; width: 25%;}
.wik-content-layout{ display: table; padding: 0; border: none; width: 790px;}
.wik-content-layout{ table-layout: fixed; border-collapse: collapse; background-color: Transparent; border: none !important; padding:0 !important;}
.wik-footer .wik-footer-background{ position: absolute; z-index: -1; background-repeat: no-repeat; background-image: url('../images/footer.png'); width: 790px; height: 150px; bottom: 0; left: 0;}
.wik-footer .wik-footer-inner{ height: 1%; position: relative; z-index: 0; padding: 15px;}
.wik-footer .wik-footer-text a,
.wik-footer .wik-footer-text a,
.wik-footer .wik-footer-text a:hover{ color: #0C1E27; text-decoration: none;}
.wik-footer .wik-footer-text a:hover{ font-style: italic; font-size: 11px;}
.wik-footer .wik-footer-text a:link,
.wik-footer .wik-footer-text a:link{ color: #235976; text-decoration: underline;}
.wik-footer .wik-footer-text a:visited,
.wik-footer .wik-footer-text a:visited{ text-decoration: none; color: #2B343B;}
.wik-footer .wik-footer-text p{ margin: 0;}
.wik-footer .wik-footer-text,
.wik-footer, .wik-footer-text, .wik-footer-text p{ color: #111517; text-align: center;}
.wik-footer{ position: relative; z-index: 0; overflow: hidden; width: 790px; margin: 0 auto;}
.wik-layout-cell, .wik-content-layout-row{ background-color: Transparent; vertical-align: top; text-align: left; border: none !important; margin:0 !important; padding:0 !important;}
.wik-logo-text, .wik-logo-text a{ font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif; font-style: normal; font-weight: bold; font-size: 17px; padding: 0; margin: 0; color: #122C3B !important;}
.wik-logo-text{ display: block; text-align: center;}
.wik-logo-text{ font-weight: normal; font-style: normal; text-decoration: none; font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif; font-size: 28px; text-align: right; text-transform: uppercase;}
.wik-logo{ display: block; position: absolute; left: 11px; top: 92px; width: 392px;}
.wik-menu a .l{ left: 0; right: 4px;}
.wik-menu a .r, .wik-menu a .l{ position: absolute; display: block; top: 0; z-index: -1; height: 81px; background-image: url('../images/menuitem.png');}
.wik-menu a .r{ width: 408px; right: 0; clip: rect(auto, auto, auto, 404px);}
.wik-menu a .t{ margin-right: 10px; margin-left: 10px; font-weight: bold; font-size: 11px; text-transform: uppercase; color: #DCE1E5; padding: 0 14px; margin: 0 4px; line-height: 27px; text-align: center;}
.wik-menu a, .wik-menu a:link, .wik-menu a:visited, .wik-menu a:hover{ text-align: left; text-decoration: none; outline: none; letter-spacing: normal; word-spacing: normal;}
.wik-menu a.active .l, .wik-menu a.active .r{ top: -54px;}
.wik-menu a.active .t{ color: #D0E5F1;}
.wik-menu a:hover .l, .wik-menu a:hover .r{ top: -27px;}
.wik-menu a:hover .t{ color: #F5F8FA;}
.wik-menu a{ position: relative; display: block; overflow: hidden; height: 27px; cursor: pointer; text-decoration: none;}
.wik-menu li li:hover>ul{ top: 0; left: 100%;}
.wik-menu li li{ float: none;}
.wik-menu li:hover a .l, .wik-menu li:hover a .r{ top: -27px;}
.wik-menu li:hover a .t{ color: #F5F8FA;}
.wik-menu li:hover>a .l, .wik-menu li:hover>a .r{ top: -27px;}
.wik-menu li:hover>a .t{ color: #F5F8FA;}
.wik-menu li:hover>ul{ visibility: visible; top: 100%;}
.wik-menu li:hover{ z-index: 10000; white-space: normal;}
.wik-menu li{ margin-right: 4px; margin-left: 4px;}
.wik-menu li{ margin: 0; padding: 0; border: 0; display: block; float: left; position: relative; z-index: 5; background: none;}
.wik-menu ul a, .wik-menu ul a:link, .wik-menu ul a:visited, .wik-menu ul a:hover, .wik-menu ul a:active, .wik-nav ul.wik-menu ul span, .wik-nav ul.wik-menu ul span span{ text-align: left; text-indent: 12px; text-decoration: none; line-height: 38px; color: #F0F2F4; margin-right: 10px; margin-left: 22px; margin:0; padding:0;}
.wik-menu ul a{ display: block; text-align: center; white-space: nowrap; height: 38px; width: 180px; overflow: hidden; line-height: 38px; background-image: url('../images/subitem.png'); background-position: left top; background-repeat: repeat-x; border-width: 1px; border-style: solid; border-color: #5F7181;}
.wik-menu ul li a:hover{ color: #EEF3F6; border-color: #4C5A67; background-position: 0 -38px;}
.wik-menu ul li:hover>a{ color: #EEF3F6; border-color: #4C5A67; background-position: 0 -38px;}
.wik-menu ul li{  margin:0;  clear: both;}
.wik-menu ul ul{ padding: 30px 30px 30px 10px; margin: -30px 0 0 -10px;}
.wik-menu ul{ background-image: url(../images/spacer.gif); padding: 10px 30px 30px 30px; margin: -10px 0 0 -30px;}
.wik-menu ul{ visibility: hidden; position: absolute; z-index: 10; left: 0; top: 0; background: none;}
.wik-menu, .wik-menu ul{ margin: 0; padding: 0; border: 0; list-style-type: none; display: block;}
.wik-menu, .wik-menu ul{ min-height: 0;}
.wik-menu:after, .wik-menu ul:after{ content: "."; height: 0; display: block; visibility: hidden; overflow: hidden; clear: both;}
.wik-menu{ padding: 3px 3px 3px 3px;}
.wik-metadata-icons img{ border: none; vertical-align: middle; margin: 2px;}
.wik-nav .wik-menu ul li a:hover span, .wik-nav .wik-menu ul li a:hover span span{ color: #EEF3F6;}
.wik-nav .wik-menu ul li:hover>a span, .wik-nav .wik-menu ul li:hover>a span span{ color: #EEF3F6;}
.wik-nav .wik-menu-separator{ display: block; width: 1px; height: 27px; background-image: url('../images/menuseparator.png');}
.wik-nav ul.wik-menu ul span, .wik-nav ul.wik-menu ul span span{ display: inline; float: none; margin: inherit; padding: inherit; background-image: none; text-align: inherit; text-decoration: inherit;}
.wik-nav{ position: relative; height: 33px; z-index: 100;}
.wik-page-footer, .wik-page-footer a, .wik-page-footer a:link, .wik-page-footer a:visited, .wik-page-footer a:hover{ font-family: Arial; font-size: 10px; letter-spacing: normal; word-spacing: normal; font-style: normal; font-weight: normal; text-decoration: underline; color: #276282;}
.wik-page-footer{ margin: 1em; text-align: center; text-decoration: none; color: #485561;}
.wik-post h2.wik-postheader a, 
.wik-post h2.wik-postheader a, 
.wik-post h2.wik-postheader a.hovered{ margin: 0.2em 0; padding: 0; font-style: normal; font-weight: bold; font-size: 24px; letter-spacing: 0; color: #1B445A;}
.wik-post h2.wik-postheader a.hovered{ margin: 0; text-decoration: none; color: #21536E;}
.wik-post h2.wik-postheader a.hovered{ text-decoration: underline; color: #3482AD;}
.wik-post h2.wik-postheader a.visited, 
.wik-post h2.wik-postheader a.visited, 
.wik-post h2.wik-postheader a.visited{ color: #527998;}
.wik-post h2.wik-postheader a:hover, 
.wik-post h2.wik-postheader a:hover, 
.wik-post h2.wik-postheader a:hover, 
.wik-post h2.wik-postheader a:link, 
.wik-post h2.wik-postheader a:link, 
.wik-post h2.wik-postheader a:visited, 
.wik-post h2.wik-postheader a:visited, 
.wik-post h2.wik-postheader a:visited, 
.wik-post h2.wik-postheader img{ border: none; vertical-align: middle; margin: 0;}
.wik-post h2.wik-postheader, 
.wik-post li ol, .wik-post li ul{ margin: 0.5em 0 0.5em 2em; padding: 0;}
.wik-post li{ margin: 0.2em 0; padding: 0;}
.wik-post li{ padding: 0 0 0 17px; line-height: 1em;}
.wik-post ol li, .wik-post ul ol li{ background: none; padding-left: 0;}
.wik-post ol, .wik-post ul{ color: #0F1215; margin: 1em 0 1em 2em; padding: 0; margin-left: 12px; text-align: left;}
.wik-post ol{ list-style-position: inside;}
.wik-post ul li, .wik-post ol ul li{ background-image: url('../images/postbullets.png'); background-repeat: no-repeat; padding-left: 17px;}
.wik-post ul{ list-style-type: none;}
.wik-post-bc{ bottom: 0; clip: rect(10px, auto, auto, auto);}
.wik-post-bl{ bottom: 0; left: 0; clip: rect(10px, 10px, auto, auto);}
.wik-post-body{ position: relative; z-index: 1; padding: 15px;}
.wik-post-br{ bottom: 0; right: 0; clip: rect(10px, auto, auto, 10px);}
.wik-post-cc{ position: absolute; z-index: -1; top: 10px; left: 10px; right: 10px; bottom: 10px; background-color: #EEF3F6;}
.wik-post-cl{ left: 0; clip: rect(auto, 10px, auto, auto);}
.wik-post-cr, .wik-post-cl{ top: 10px; bottom: 10px; width: 20px; background-image: url('../images/post_v.png');}
.wik-post-cr{ right: 0; clip: rect(auto, auto, auto, 10px);}
.wik-post-tc, .wik-post-bc{ left: 10px; right: 10px; height: 20px; background-image: url('../images/post_h.png');}
.wik-post-tc{ top: 0; clip: rect(auto, auto, 10px, auto);}
.wik-post-tl{ top: 0; left: 0; clip: rect(auto, 10px, 10px, auto);}
.wik-post-tr, .wik-post-tl, .wik-post-br, .wik-post-bl, .wik-post-tc, .wik-post-bc,.wik-post-cr, .wik-post-cl{ position: absolute; z-index: -1;}
.wik-post-tr, .wik-post-tl, .wik-post-br, .wik-post-bl{ width: 20px; height: 20px; background-image: url('../images/post_s.png');}
.wik-post-tr{ top: 0; right: 0; clip: rect(auto, auto, 10px, 10px);}
.wik-postheader, .wik-postheader a, .wik-postheader a:link, .wik-postheader a:visited, .wik-postheader a:hover,
.wik-post{ margin: 5px;}
.wik-post{ position: relative; z-index: 0; margin: 0 auto; min-width: 21px; min-height: 21px;}
.wik-rss-tag-icon{ position: relative; display: block; float: left; background-image: url('../images/rssicon.png'); background-position: center right; background-repeat: no-repeat; margin: 0 5px 0 0; height: 32px; width: 24px; cursor: default;}
.wik-sheet-bc{ bottom: 0; clip: rect(5px, auto, auto, auto);}
.wik-sheet-bl{ bottom: 0; left: 0; clip: rect(5px, 5px, auto, auto);}
.wik-sheet-body{ position: relative; z-index: 1; padding: 5px;}
.wik-sheet-br{ bottom: 0; right: 0; clip: rect(5px, auto, auto, 5px);}
.wik-sheet-cc{ position: absolute; z-index: -1; top: 5px; left: 5px; right: 5px; bottom: 5px; background-image: url('../images/sheet_c.png');}
.wik-sheet-cl{ left: 0; clip: rect(auto, 5px, auto, auto);}
.wik-sheet-cr, .wik-sheet-cl{ top: 5px; bottom: 5px; width: 10px; background-image: url('../images/sheet_v.png');}
.wik-sheet-cr{ right: 0; clip: rect(auto, auto, auto, 5px);}
.wik-sheet-tc, .wik-sheet-bc{ left: 5px; right: 5px; height: 10px; background-image: url('../images/sheet_h.png');}
.wik-sheet-tc{ top: 0; clip: rect(auto, auto, 5px, auto);}
.wik-sheet-tl{ top: 0; left: 0; clip: rect(auto, 5px, 5px, auto);}
.wik-sheet-tr, .wik-sheet-tl, .wik-sheet-br, .wik-sheet-bl, .wik-sheet-tc, .wik-sheet-bc,.wik-sheet-cr, .wik-sheet-cl{ position: absolute; z-index: -1;}
.wik-sheet-tr, .wik-sheet-tl, .wik-sheet-br, .wik-sheet-bl{ width: 10px; height: 10px; background-image: url('../images/sheet_s.png');}
.wik-sheet-tr{ top: 0; right: 0; clip: rect(auto, auto, 5px, 5px);}
.wik-sheet{ margin-top: 50px !important; cursor:auto;}
.wik-sheet{ position: relative; z-index: 0; margin: 0 auto; width: 800px; min-width: 11px; min-height: 11px;}
.wik-vmenublock-body{ position: relative; z-index: 1; padding: 0;}
.wik-vmenublockcontent-body{ position: relative; z-index: 1; padding: 0;}
.wik-vmenublockcontent-body{ position: relative; z-index: 1; padding: 0;}
.wik-vmenublockcontent{ position: relative; z-index: 0; margin: 0 auto; min-width: 1px; min-height: 1px;}
.wik-vmenublockcontent{ position: relative; z-index: 0; margin: 0 auto; min-width: 1px; min-height: 1px;}
.wik-vmenublockheader .l, .wik-vmenublockheader .r{ display: block; position: absolute; z-index: -1; height: 38px; background-image: url('../images/vmenublockheader.png');}
.wik-vmenublockheader .l{ left: 0; right: 17px;}
.wik-vmenublockheader .r{ width: 790px; right: 0; clip: rect(auto, auto, auto, 773px);}
.wik-vmenublockheader .t{ height: 38px; color: #485561; margin-right: 10px; margin-left: 10px; font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif; font-style: normal; font-weight: bold; font-size: 14px; margin:0; padding: 0 10px 0 23px; white-space: nowrap; line-height: 38px;}
.wik-vmenublockheader{ position: relative; z-index: 0; height: 38px; margin-bottom: 0;}
.wik-vmenublock{ margin: 0;}
.wik-vmenublock{ position: relative; z-index: 0; margin: 0 auto; min-width: 1px; min-height: 1px;}
a img{ border: 0;}
a, .wik-post li a{ text-decoration: underline; letter-spacing: 1px; color: #276282;}
a:hover, a.hover,.wik-post li a:hover, .wik-post li a.hover{ text-decoration: none; color: #3482AD;}
a:link,.wik-post li a:link{ text-decoration: underline; letter-spacing: 1px; color: #276282;}
a:visited, a.visited,.wik-post li a:visited, .wik-post li a.visited{ color: #5F7181;}
blockquote,.wik-postcontent blockquote{ margin: 10px 10px 10px 50px; padding: 5px 5px 5px 41px; background-color: #D7E1EA; background-image: url('../images/postquote.png'); background-position: left top; background-repeat: no-repeat;}
blockquote,blockquote p,.wik-postcontent blockquote p{ color: #071218; font-style: italic; text-align: left;}
body { margin: 0 auto; padding: 0; color: #21272C; background-color: #CC9933; }
body, p { margin: 0.5em 0; font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif; font-style: normal; font-weight: normal; font-size: 12px; text-align: justify;}
div.wik-content-layout div.wik-layout-cell, div.wik-content-layout div.wik-layout-cell div.wik-content-layout div.wik-layout-cell{  display: table-cell;}
div.wik-content-layout-row{ display: table-row; }
div.wik-header-jpeg{ position: absolute; z-index: -1; top: 0; left: 0; width: 790px; height: 250px; background-image: url('../images/IMG_0009.JPG'); background-repeat: no-repeat; background-position: center center;}
div.wik-header{ margin: 0 auto; position: relative; z-index: 0; width: 790px; height: 250px; overflow: hidden;}
div.wik-layout-cell div.wik-layout-cell{  display: block;}
form{ padding: 0 !important; margin: 0 !important;}
h1 a, h1 a:link, h1 a:visited, h1 a:hover,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover{ margin: 0.67em 0; color: #276282;}
h1, h2, h3, h4, h5, h6,h1.wik-logo-name, h1.wik-logo-name a, h1.wik-logo-name a:link, h1.wik-logo-name a:visited, h1.wik-logo-name a:hover{ font-style: normal; font-weight: bold; font-size: 35px; text-decoration: none; padding: 0; margin: 0; color: #122C3B !important;}
h1.wik-logo-name, h1.wik-logo-name a, h1.wik-logo-name a:link, h1.wik-logo-name a:visited, h1.wik-logo-name a:hover{ font-weight: normal; font-style: normal; text-decoration: none; font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif; font-size: 28px; text-align: left; text-transform: uppercase;}
h1.wik-logo-name{ display: block; text-align: right;}
h1.wik-logo-name{ font-weight: normal; font-style: normal; text-decoration: none; font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif; font-size: 28px; text-align: right; text-transform: uppercase;}
h2 a, h2 a:link, h2 a:visited, h2 a:hover,h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover{ margin: 0.8em 0; font-style: normal; font-weight: normal; font-size: 24px; color: #276282;}
h3 a, h3 a:link, h3 a:visited, h3 a:hover,h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover{  margin: 1em 0; font-size: 22px; color: #4F7492;}
h4 a, h4 a:link, h4 a:visited, h4 a:hover,h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover{ margin: 1.25em 0; font-size: 18px; color: #21272C;}
h5 a, h5 a:link, h5 a:visited, h5 a:hover,h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover{ margin: 1.67em 0; font-size: 16px; color: #21272C;}
h6 a, h6 a:link, h6 a:visited, h6 a:hover{  margin:0;}
h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover{ margin: 2.33em 0; font-size: 14px; color: #21272C;}
img.image{  margin:0;  padding:0;  border:none;}
input, select, textarea, select{ vertical-align: middle; font-weight: bold; font-size: 11px;}
pre{ overflow: auto; padding: 0.1em;}
table.position{ position: relative; width: 100%; table-layout: fixed;}
table.table, table.table tr, table.table td{  border:none;  margin:0;  padding:0;  background-color:Transparent;}
table.table{  width:100%;  border-collapse:collapse;  table-layout:fixed;  text-align:left;  vertical-align:top;}
ul.wik-menu{ float: right;}
ul.wik-vmenu .wik-vmenu-separator-span{ display: block; padding: 0; font-size: 1px; height: 0; line-height: 0; border: none;}
ul.wik-vmenu a .l{ left: 0; right: 15px;}
ul.wik-vmenu a .r, ul.wik-vmenu a .l{ position: absolute; display: block; top: 0; z-index: -1; height: 90px; background-image: url('../images/vmenuitem.png');}
ul.wik-vmenu a .r{ width: 800px; right: 0; clip: rect(auto, auto, auto, 785px);}
ul.wik-vmenu a .t{ display: block; line-height: 30px; color: #576775; padding: 0 12px 0 25px; font-weight: bold; font-size: 14px; text-transform: uppercase; margin-left:0; margin-right:0;}
ul.wik-vmenu a.active .l, ul.wik-vmenu a.active .r{ top: -60px;}
ul.wik-vmenu a.active .t{ color: #235976;}
ul.wik-vmenu a:hover .l, ul.wik-vmenu a:hover .r{ top: -30px;}
ul.wik-vmenu a:hover .t{ color: #B6C9D8;}
ul.wik-vmenu a{ position: relative; display: block; overflow: hidden; height: 30px; cursor: pointer; text-decoration: none;}
ul.wik-vmenu li.wik-vmenu-separator{ display: block; padding: 2px 0 2px 0; margin: 0; font-size: 1px;}
ul.wik-vmenu ul .wik-vsubmenu-separator-span{ display: block; padding: 0; font-size: 1px; height: 0; line-height: 0; margin: 0; border: none;}
ul.wik-vmenu ul a, ul.wik-vmenu ul a:link, ul.wik-vmenu ul a:visited, ul.wik-vmenu ul a:hover, ul.wik-vmenu ul a:active, ul.wik-vmenu ul span, ul.wik-vmenu ul span span{ line-height: 24px; color: #485561; font-size: 11px; margin-left: 0;}
ul.wik-vmenu ul a{ display: block; white-space: nowrap; height: 24px; overflow: visible; background-image: url('../images/vsubitem.gif'); background-position: 24px 0; background-repeat: repeat-x; padding-left: 43px;}
ul.wik-vmenu ul li a.active{ color: #276282; background-position: 24px -48px;}
ul.wik-vmenu ul li a:hover, ul.wik-vmenu ul li a:hover.active{ color: #273A49; background-position: 24px -24px;}
ul.wik-vmenu ul li li a.active{ background-position: 48px -48px;}
ul.wik-vmenu ul li li a:hover, ul.wik-vmenu ul li li a:hover.active{ background-position: 48px -24px;}
ul.wik-vmenu ul li li a{ background-position: 48px 0; padding-left: 67px;}
ul.wik-vmenu ul li li li a.active{ background-position: 72px -48px;}
ul.wik-vmenu ul li li li a:hover, ul.wik-vmenu ul li li li a:hover.active{ background-position: 72px -24px;}
ul.wik-vmenu ul li li li a{ background-position: 72px 0; padding-left: 91px;}
ul.wik-vmenu ul li li li li a.active{ background-position: 96px -48px;}
ul.wik-vmenu ul li li li li a:hover, ul.wik-vmenu ul li li li li a:hover.active{ background-position: 96px -24px;}
ul.wik-vmenu ul li li li li a{ background-position: 96px 0; padding-left: 115px;}
ul.wik-vmenu ul li li li li li a.active{ background-position: 120px -48px;}
ul.wik-vmenu ul li li li li li a:hover, ul.wik-vmenu ul li li li li li a:hover.active{ background-position: 120px -24px;}
ul.wik-vmenu ul li li li li li a{ background-position: 120px 0; padding-left: 139px;}
ul.wik-vmenu ul li.wik-vsubmenu-separator{  display: block; margin: 0; font-size: 1px; padding: 0 0 0 0; }
ul.wik-vmenu ul li{ padding: 0;}
ul.wik-vmenu ul span, ul.wik-vmenu ul span span{ display: inline; float: none; margin: inherit; padding: inherit; background-image: none; text-align: inherit; text-decoration: inherit;}
ul.wik-vmenu ul ul{ margin:0 0 0 0;}
ul.wik-vmenu ul, ul.wik-vmenu ul li{ margin: 0; padding: 0;}
ul.wik-vmenu ul.active{ display: block;}
ul.wik-vmenu ul{  margin:0 0 0 0;}
ul.wik-vmenu ul{ display: none;}
ul.wik-vmenu, ul.wik-vmenu li{ list-style: none; margin: 0; padding: 0; width: auto; line-height: 0;}